html,
body {
  width: 100%;
  height: 100vh;
}
.App {
  text-align: center;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #4f8ee3; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to bottom,
    #63d9d0,
    #4f8ee3
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to bottom,
    #63d9d0,
    #4f8ee3
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
